# GPT2GIGA_API_KEY=<сильный секрет>  — минимум 32 случайных символа

# GIGACHAT_MODEL: GigaChat-2-Max, GigaChat-2-Pro, GigaChat-2
# GIGACHAT_SCOPE: GIGACHAT_API_PERS, GIGACHAT_API_B2B, GIGACHAT_API_CORP

GPT2GIGA_MODE=DEV
GPT2GIGA_HOST=0.0.0.0
GPT2GIGA_PORT=8090
GPT2GIGA_LOG_LEVEL=INFO
GPT2GIGA_ENABLE_API_KEY_AUTH=True
GPT2GIGA_API_KEY="<REPLACE_WITH_STRONG_SECRET>"
GIGACHAT_SCOPE=GIGACHAT_API_B2B
GIGACHAT_CREDENTIALS="<REPLACE_WITH_YOUR_GIGACHAT_CREDENTIALS>"
GIGACHAT_PROFANITY_CHECK=False
GIGACHAT_MODEL=GigaChat-2-Max
GIGACHAT_VERIFY_SSL_CERTS=False
GIGACHAT_TIMEOUT=70000